absl-py==2.2.2
accelerate==1.6.0
bert-score==0.3.13
bleu==0.3
evaluate==0.4.3
fire==0.7.0
fuzzywuzzy==0.18.0
huggingface-hub==0.30.2
jieba==0.42.1
lark==1.2.2
litellm==1.66.1
llguidance==0.7.14
llmlingua==0.2.2
llvmlite==0.44.0
lm-format-enforcer==0.10.11
nltk==3.9.1
numba==0.61.2
numpy==2.2.4
openai==1.73.0
pandas==2.2.3
pyarrow==19.0.1
PyYAML==6.0.2
rank-bm25==0.2.2
rouge==1.0.1
rouge_score==0.1.2
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.1.0
sentencepiece==0.2.0
tiktoken==0.9.0
tokenizers==0.21.1
torch==2.6.0
tqdm==4.67.1
transformers==4.51.2
vllm==0.8.4